/* mobile (default) styles  */
.header {
  align-content: center;
  background-color: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: space-between;
  padding: 1.75rem 2.5rem;
  pointer-events: auto;
  text-transform: uppercase;
  width: auto;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.dropdown {
  display: flex;
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    padding-right: 4rem;
  }
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.cart-link {
  position: relative;
  display: inline-block;
  @media screen and (min-width: 768px) {
    padding-left: 10rem;
  }
}

.preview-dropdown {
  display: none;
  position: absolute;

  z-index: 1;
}

.cart-link:hover .preview-dropdown {
  display: block;
}

.logo {
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    padding-right: 10rem;
  }
  @media screen and (min-width: 1024px) {
    padding-right: 6rem;
  }
}

/* desktop styles  */
.desktop-header {
  display: none;

  @media screen and (min-width: 1024px) {
    display: block;
  }
}
