.hero {
  background-color: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 47%);
  overflow: hidden;
}

.image-box {
  background-size: cover;
  width: 100vw;
  scale: 2;
  translate: -16rem 6rem;

  /* desktop */
  @media screen and (min-width: 960px) {
    width: 50vw;
    scale: 2;
  }
}

.hero-info {
  opacity: 90%;
  margin-top: -13.5rem;
  margin-bottom: 2.5rem;
  padding: 5rem 3.25rem;
  text-align: center;

  /* desktop */
  @media screen and (min-width: 960px) {
    width: 50vw;
    translate: 75% 0;
  }
}
