.header {
  align-content: center;
  background-color: orange;
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: space-between;
  padding: 2rem 1.75rem;
}

.dropdown-menu {
  display: none;
}

#checkbox:checked ~ .dropdown-menu {
  display: flex;
}
