.header {
  align-content: center;
  background-color: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: space-between;
  padding: 2rem 1.75rem;
}

#dropdown {
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.15rem;
  /* box-shadow: 0rem 0.5rem hsl(0, 0%, 94%); */
  color: hsl(0, 0%, 10%);
}
