.hero {
  background-color: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 47%);
  overflow: hidden;
}

.image-box {
  background-size: cover;
  width: 100vw;
  scale: 3;
  translate: -12rem 6rem;
}

.hero-info {
  opacity: 90%;
  margin-top: -13.5rem;
  margin-bottom: 2.5rem;
  padding: 5rem 3.25rem;
  text-align: center;
}
