.home {
  background-color: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 47%);
  overflow: hidden;
}

.image-box {
  background-size: cover;
  scale: 1.3;
  translate: -7rem;
}

.hero-overlay {
  background-color: hsl(0, 0%, 10%);
  opacity: 5%;
  position: fixed;
  pointer-events: none;
}

.hero-info {
  padding: 10rem 2.2rem;
  text-align: center;
}
