.home {
  background-color: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 47%);
  overflow: hidden;
}

/* .hero-overlay {
  background-color: hsl(0, 0%, 10%);
  opacity: 5%;
  position: fixed;
  pointer-events: none;
} */

.image-box {
  background-size: cover;
  width: 100vw;
  scale: 2.95;
  translate: -13.5rem 6rem;
}

.hero-info {
  opacity: 90%;
  margin-top: -14.5rem;
  padding: 6rem 3rem;
  text-align: center;
}
